/* src/ContentSwitcher.css */
.content-switcher {
  position: relative;
  height: 590px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .slider-button{
    position: absolute;
    z-index: 10;
    margin-inline: 2rem;
    &.back-slide {
      left: 0;
      background: none;

    }
    &.forward-slide{
      right: 0;
      background: none;
    }
  }
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-image 0.5s ease-in-out;
  .dynamic-description {
    max-height: 12rem;
    width: 50%;
    position: absolute;
    /* inset: 0; */
    margin: auto;
    bottom: 0;
    background: white;
    color: black;
    margin: 1rem;
    margin-bottom: -5rem;
    border-radius: 8px;
    .large-content{
      display: block;

      padding: 1rem;
    }
  }
}

.content-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.content-overlay button{
 background: none;
  font-size: larger;
}


.content-overlay h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.content-overlay p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
